TC275/Tricore_TC275_SIP/
TC275/project/TC275/Debug
TC275/project/Bsw_Config/Cfg/Log

TC275/project/.metadata
TC275/project/.vscode
TC275_demo/Tricore_TC275_SIP/
TC275_demo/project/TC275/Debug
TC275_demo/project/Bsw_Config/Cfg/Log
TC275_demo/project/.metadata
TC275_demo/project/.vscode